/*Global*//*Global*//*Global*//*Global*//*Global*//*Global*//*Global*//*Global*/
html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-size: 20px;
	color: #E5E5E5;/*#14213D*/
}

body{
	font-family: 'Open Sans', sans-serif, Arial;
	padding: 0;
	margin: 0;
	background-color: #101010;
}

abbr{
	text-decoration: none;
	cursor: pointer;
}

table{
	margin-left: auto;
	margin-right: auto;
}

th{
	text-align: left;
}

td{
	padding-right: 20px;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #666666; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #000000; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #14213D;
  }

  *, *::after, *::before{
	  box-sizing: border-box;
  }
/*Global*//*Global*//*Global*//*Global*//*Global*//*Global*//*Global*//*Global*/

/*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*/
.preheader{
	background-color: #101010;
	color: #E5E5E5;
	min-height: 35px;
	font-size: 16px;
	text-align: center;
	padding: 6px 0 0 0;
}

.preheader a{
	text-decoration: none;
	color: #E5E5E5;
}

.contact1{

	cursor: pointer;
}
/*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*//*Upper-header*/

/*Main header*//*Main header*//*Main header*//*Main header*//*Main header*//*Main header*/
header{
	opacity:0.9;
	background-color:#666666;
	min-height: 45px;
}

.current{
	color:#14213D;
	font-weight: bold;
}

header ul{
	margin:0;
}

.heading a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.links{
	float:left;
	padding:15px 15px 0 22%;
	font-size: 16px;
}

.heading li{
	display: inline;
	margin: 0 30px 0 30px;
}

.imaging{
	width:100%;
	/*background: url('../Images/profilehd.jpg') 180px -170px;*/
	border-bottom: solid 3px #14213d;
}
/*Main header*//*Main header*//*Main header*//*Main header*//*Main header*//*Main header*/


/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/
/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/
/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/
#typingarea{
    background: #E5E5E5;
    min-height: 770px;
    padding:25px 0 25px 22px;
	width: 100%;
}

.container{
	width:50%;
	margin:auto;
}

#userInput{
	width:79%;
	font-size: 30px;
	padding: 5px;
	border:none;
	outline: none;
	margin: 100px 0 0 0;
}

#reset{
	height: 44px;
	float:right;
	margin:100px 0 0 0;
	border: 0;
	width:19%;
	cursor:pointer;
	background-color: #fff;
}

#output{
	margin: 20px 0 0 0;
	padding: 5px;
	min-height: 100px;
	width: 100%;
	background: #fff;
	color: #14213d;
	font-size: 25px;
	word-spacing: 20px;
}

#score{
	font-size:100px;
	color: #14213d;
	width: 50%;
	float:left;
	margin: 20px 0 0 0;
}

#timer{
	font-size:100px;
	color: #14213d;
	width: 50%;
	float:left;
	text-align: right;
	margin: 20px 0 0 0;
}

#result{
	font-size:20px;
	color: #14213d;
	width: 100%;
	float:left;
	margin: 20px 0 0 0;
}

.default{
	color: #14213d;
}

.invisible{
	display:none;
}

.visible{
	display: block;
}

/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/
/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/
/*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*//*Content*/



/*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*/
footer{
	margin-top:0;
	background: #14213D;
	width:100%;
	text-align: center;
	min-height:100px;
	float:left;
	position:relative;
	padding-top:4px;
}

footer p{
	padding-top:45px;
	margin:0;
	color:#E5E5E5;
	font-size:16px;
}

.inner-footer{
	background: #000000;
	min-height:100px;
}
/*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*//*Footer*/

/*Overlaying effects*/
#introduction{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 2;
	cursor: pointer;
}

#textintro{
	position: fixed;
	display: block;
	width: 50%;
	height: 70%;
	margin-left:auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #E5E5E5;
	border: solid 3px #14213D;
	color:#14213D;
	padding:25px;
}

#overlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 2;
	cursor: pointer;
}
  
#text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 30px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
  
#text a{
	color:#FCA311;;
}

@media(max-width: 1450px){
	header{
		min-height: 70px;
	}

	.container{
		width:60%;
	}
	
	#userInput{
		width:69%;
	}
	
	#reset{
		width:29%;
	}
	
	#output{
		font-size: 22px;
		word-spacing: 16px;
	}
	
	#score, #timer{
		font-size:90px;
	}
	
	#result{
		font-size:20px;
		color: #14213d;
		width: 100%;
		float:left;
		margin: 20px 0 0 0;
	}
}

@media(max-width: 800px){
	.preheader{
		min-height:57px;
	}

	header{
		min-height: 100px;
	}

	.container{
		width:75%;
	}
	
	#userInput, #reset{
		width:100%;
		float: none;
		margin-top: 75px;
	}

	#reset{
		margin-top: 20px;
	}
	
	#output{
		font-size: 18px;
		word-spacing: 14px;
	}
	
	#score, #timer{
		font-size: 64px;
		width:100%;
		float: none;
		text-align:center;
	}
	
	#result{
		float:none;
	}
}

@media(max-width: 400px){
	.preheader{
		min-height:57px;
	}

	header{
		min-height: 150px;
	}
}


